.title {
    background: #C10708 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    opacity: 1;
    height: 70px;
}
.number {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 2px 6px 10px #00000029;
    border: 0.5px solid #A4A4A4;
    border-radius: 4px;
    opacity: 1;
    width: 740px;
    height: 450px;
    margin-top: 60px;
}
.form-button {
    background: #C10708 0% 0% no-repeat padding-box;
    border-radius: 2px;
    color: #FFFFFF;
    width: 227px;
    height: 36px;
}
.form-item {
    .ant-form-item-control-input-content {
        max-width: 227px;
        max-height: 36px;
    }
    .ant-input {
        padding: 8px 10px;
    }
    .ant-form-item-explain-error{
        margin-right: 75px;
        margin-top: 5px;
    }
}
.hr-row {
    border: 1px solid #C10708;
}
.results {
    border: 1px solid #C10708;
    border-radius: 2px;
    width: 227px;
    height: 36px;
}
.ant-form-item {
    margin-bottom: 10px;
}
.ant-btn:hover, .ant-btn:focus {
    background: #C10708;
    color: #FFFFFF;
}

@media (max-width: 360px) {
    .number {
        margin-left: 20px;
        margin-right: 20px;
    }
    .hr-row {
        margin: 55px 0 0 0 ;
    }
}
